@media only screen and (max-width: 480px) {
    .slideout-menu {
        left: 0;
        top: 0;
    }

    main{
        top: 7vh;
        height: 100vh;
        width: 100vw;
        float: top;
        grid-template-columns:0.5fr 8fr 1fr;
        grid-template-rows: 3fr 5fr 1fr;
        grid-template-areas:
          '. main_contain main_contain'
          'display_area display_area display_area'
          '. . .';
    } 

    .left_bar{
        width: 100vw;
        height: 7vh;
        grid-template-columns:0.5fr 1fr 3fr 1fr 4fr 0.5fr;
        grid-template-rows:100%;
        grid-template-areas:
            '. menu_ori . page_tag . .';
    }
    
    .page_tag
    {
	    background-image: url('../images/teamicon_white.png');
    }
    
    .main_contain{
        grid-template-columns:12fr 1fr;
        grid-template-rows: 20% 60% auto;
        grid-template-areas:
            'page_annotation .'
            'topic .'
            '. .';
    }
    
    .homeicon{
        display: none;
    }
    
    .topic{
        background-position: center;
        transform:translateX(0%);
        background-size: 100% 100%;
    }
    
    .page_annotation{
        background-position: center;
        transform:translateX(0%);
    }
    
    .display_area{
        grid-template-columns:10% 10% 30% 20% 10% 10% 5%;
    }
    
    #bring_back
    {
        background-image: url('../images/bring_onMouseOver.png'); 
        grid-column:3/5;
        transform:translateX(-15%) translateY(-20%);
    }
}