@media only screen and (max-width: 480px) {
    .slideout-menu {
        left: 0;
        top: 0;
    }

    main{
        top: 7vh;
        height: 100vh;
        width: 100vw;
        float: top;
        grid-template-columns:7% 86% 7%;
        grid-template-rows: 40% 60%;
        grid-template-areas:
          '. main_contain .'
          '. display_area .';
    } 

    .left_bar{
        width: 100vw;
        height: 7vh;
        grid-template-columns:0.5fr 1fr 3fr 1fr 4fr 0.5fr;
        grid-template-rows:100%;
        grid-template-areas:
            '. menu_ori . page_tag . .';
    }
    
    .page_tag
    {
	    background-image: url('../images/teamicon_white.png');
    }
    
    .main_contain{
        grid-template-columns:60% 10% 10% auto;
        grid-template-rows: 5% 20% 20% 40% auto;
        grid-template-areas:
            '. . . .'
            'page_annotation . . .'
            'topic topic . .'
            'p1 p1 p1 .'
            '. . . .';
    }
    
    .p1
    {
        background-position: center left;
    }
    
    .homeicon{
        display: none;
    }
    
    .topic{
        background-position: center;
    }
    
    .display_area{
        grid-template-columns: 12% 88%;
        grid-template-rows: 10% 30% 10% 18%;
        grid-template-areas: ". ."
                             "p2 p2"
                             ". ."
                             "line .";
    }
}